.theme-light {
  --color-bg1: #fff;
  --color-bg2: #2e2e36;
  --color-bg3: #1e1e24;
  --color-bg4: #f0f2fc;
  --color-card-bg: #fff;
  --color-card-text: rgba(0, 0, 0, 0.8);
  --color-header-text: #fff;
  --color-h2-text: #306387;

  --color-border1: #c37500;
  --color-border2: #42CAFD;
  --color-border3: #999;
  --color-primary1: #c37500;
  --color-primary2: #FFE100;
  --color-primary3: #FFC900;
  --color-primary4: #EBE389;
  --color-text1: #000;
  --color-text2: #333;
  --color-confirm: #FF9B00;
  --color-error: #FF0000;
}

body {
  background-color: var(--color-bg1);
}