<!doctype html>
<html lang="en">
  <head>
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=5, user-scalable=yes"
    />
    <title>Revirtualis</title>
    <link rel="stylesheet" href="/app.css" />
    <link rel="stylesheet" href="/dark.css" />
    <link rel="stylesheet" href="/light.css" />
    <link rel="stylesheet" href="/image-carousel.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/highlight.js/11.9.0/styles/default.min.css"
    />
    <link rel="icon" href="/favicon.ico" />
    <script src="/scripts/theme.js"></script>
    <script src="/scripts/image-carousel-events.js"></script>
    <script src="/scripts/side-bar.js"></script>
    <script src="/scripts/datetime.js"></script>
  </head>
  <body style="background-color: var(--color-bg1)">
    {BODY}
  </body>
  <footer>{SCRIPTS}</footer>
</html>
