:root {
  --spacing-size-1: 4px;
  --spacing-size-2: 8px;
  --spacing-size-3: 12px;
  --spacing-size-4: 16px;
  --spacing-size-5: 20px;
  --spacing-size-6: 24px;
  --spacing-size-7: 28px;
  --spacing-size-8: 32px;
}

body {
  margin: 0;
  background: var(--color-bg1);
  color: var(--color-text1);
  font-family: 'Droid Sans', sans-serif;
}

a {
  color: var(--color-text1);
  text-decoration: none;
  &:hover {
    color: var(--color-text2);
  }
}

nav {
  background: var(--color-bg2);
  padding: var(--spacing-size-2);
  box-sizing: border-box;
  border-bottom: 1px solid var(--color-border1);
  height: 52px;
  display: flex;
  align-items: center;
}

main {
  padding: var(--spacing-size-4);
  box-sizing: border-box;
}

.side-bar {
  position: sticky;
  top: 0;
  display: flex;
  width: 255px;
  background: var(--color-bg2);
  padding: var(--spacing-size-2);
  height: 100vh;
  flex-direction: column;
  gap: var(--spacing-size-1);
  box-sizing: border-box;
  border-right: 1px solid var(--color-border1);
}

.sidebar-link {
  display: flex;
  align-items: center;
  color: var(--color-text2);
  gap: var(--spacing-size-2);
  padding: var(--spacing-size-3) var(--spacing-size-1);
  border: 1px solid transparent;
}

.sidebar-link.active {
  background: var(--color-bg3);
}

.card {
  background: var(--color-bg2);
  padding: var(--spacing-size-4);
  border-radius: var(--spacing-size-2);
}

.date-time {
  color: var(--color-text2);
  font-size: 0.8em;
  font-style: italic;
  margin-bottom: var(--spacing-size-2);
}

/* .sidebar-link:hover {
  background: var(--color-bg3);
  color: var(--color-primary1);
  border-color: var(--color-border1);
}

.sidebar-link.active {
  background: var(--color-primary1);
  color: var(--color-bg1);
  border-color: var(--color-primary2);
  font-weight: bold;
}

.sidebar-link-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
}

.sidebar-link-text {
  flex: 1;
} */