:root {
  --color-bg1: #555;
  --color-bg2: #333;
  --color-bg3: #000;
  --color-border1: #FF9B00;
  --color-border2: #FFE100;
  --color-border3: #999;
  --color-primary1: #FF9B00;
  --color-primary2: #FFE100;
  --color-primary3: #FFC900;
  --color-primary4: #EBE389;
  --color-text1: #fff;
  --color-text2: #ddd;
  --color-confirm: #FF9B00;
  --color-error: #FF0000;
}